{% extends 'base.html' %}

{% block title %}Detail Order{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h3>Details:</h3>
    <div class="panel panel-default">
        <div class="panel-heading">Order id: {{ order.order_id }}</div>
        <ul class="list-group">
            <li class="list-group-item">Marketplace: {{ order.marketplace }}</li>
            <li class="list-group-item">Purchase date: {{ order.purchase_date }}</li>
            <li class="list-group-item">Amount: {{ order.amount }}</li>
            <li class="list-group-item">Currency : {{ order.currency }}</li>
            <li class="list-group-item">Items: {{ order.items }}</li>
            <li class="list-group-item">Shipping: {{ order.shipping }}</li>
        </ul>
    <a class="btn btn-primary" href="{% url 'orders:update' pk=order.id %}" >Edit order</a>
    </div>
  </div>
</div>
{% endblock %}