{% extends 'base.html' %}

{% block title %}List Orders{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h3>List of orders</h3>
    <div class="panel panel-default">
    {% for order in orders %}
        <div class="panel-heading">Order id: {{ order.order_id }}
            <a href="{% url 'orders:detail' pk=order.id %}" >View details</a>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Marketplace: {{ order.marketplace }}</li>
            <li class="list-group-item">Amount: {{ order.amount }}</li>
            <li class="list-group-item">Currency : {{ order.currency }}</li>
            <li class="list-group-item">Items: {{ order.items }}</li>
        </ul>
    {% endfor %}
    <a  class="btn btn-primary" href="{% url 'orders:create' %}" >Add new order</a>
    </div>
  </div>
</div>
{% endblock %}